# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Development files
node_modules/
src_web/
package.json
package-lock.json
tsconfig.json
webpack.config.js
.prettierrc
*.log

# Keep the compiled web directory
!web/
!web/*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 